/*
_________________________________________________

--- MEDIA QUERIES for "Mobile" viewport width ---
_________________________________________________

*/
@media (min-width: $width--mobile) {
  .registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    width: 280px;

    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    padding-bottom: 30px;

    background-color: $background--form;
    border-radius: 40px;
    box-shadow: 0 5px 6px 3px rgba($black, 0.2);
  }


  .registration-form__submit-button {
    width: auto;
    min-height: 50px;

    margin: 0 auto;

    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: $white;
    text-transform: uppercase;

    background-color: $background--sumbit-button;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 3px $black;

    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: background-color, color;
  }


  .registration-form__submit-button:hover,
  .registration-form__submit-button:focus {
    background-color: $background--sumbit-button-hover;
  }

  .registration-form__submit-button:active {
    color: $black;

    background-color: $background--sumbit-button-active;
  }


  /* ---------------------- End of "Mobile" MEDIA QUERIES ---------------------- */
}


/*
_________________________________________________

--- MEDIA QUERIES for "Tablet" viewport width ---
_________________________________________________

*/
@media (min-width: $width--tablet) {
  .registration-form {
    width: auto;
  }

  .registration-form__submit-button {
    width: 400px;
  }


  /* ---------------------- End of "Tablet" MEDIA QUERIES ---------------------- */
}


/*
_________________________________________________

--- MEDIA QUERIES for "Desctop" viewport width ---
_________________________________________________

*/
@media (min-width: $width--desktop) {
  .registration-form {
    width: 700px;
  }


  /* ---------------------- End of "Desctop" MEDIA QUERIES ---------------------- */
}